<!DOCTYPE html>

<html lang="en">



<head>



  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="../../lib/img/favicon/favicon.ico" />



  <title>CORY</title>

  <!-- Fonte -->

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

  <!-- Estilos -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"

    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="../../lib/css/styles.css">



</head>



<body>

  <header>

    <div class="container" id="nav-container">

      <!-- add essa class -->

      <nav class="navbar navbar-expand-lg fixed-top navbar-dark">

        <a class="navbar-brand" href="../../../index.html">

          <img id="logo" src="../../lib/img/logo/cory.png" alt="hDC Agency">

        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-links"

          aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-links">

          <div class="navbar-nav">

            <a class="nav-item nav-link" id="home-menu" href="../../../index.html">HOME</span></a>

            <a class="nav-item nav-link" id="apply-menu" href="jogo.php">GAME</a>

            <a class="nav-item nav-link" id="portfolio-menu" href="cardapio.html">CARDAPIO</a>

	          <a class="nav-item nav-link"  href="carrinho.html">CARRINHO</a>

            <a class="nav-item nav-link" id="about-menu" href="sobre.html">SOBRE</a>

            <a class="nav-item nav-link" id="contact-menu" href="contato.html">CONTATO</a>

          </div>

        </div>

      </nav>

    </div>

  </header>

  <br><br><br><br>
<main>

  
  
    <!-- Sobre a empresa -->
  
    <div id="about-area">
  
      <div class="container">
  
        <div class="row">
  
          <div class="col-12">
  
            <h3 class="main-title">Sobre A Cory 👤</h3>
  
          </div>
  
          <div class="col-md-6">
  
            <img class="img-fluid" src="../../lib/img/local/cory_address.jpeg" alt="Agência hDC">
  
          </div>
  
          <div class="col-md-6">
  
            <h3 class="about-title">A Melhor lanchonete da região.</h3>
  
            <p>A cory e um estabelecimento focado em porções lanches artesanal e açai</p>
  
            <p>trabalhamos com delivery e retirada no momento e que funcionamos das 17hs as 23:30 de terça a domingo e
  
              feriados também</p>
  
            <p>passamos débito e crédito e trabalhos com a melhor qualidade do mercado para todos os públicos.</p>
  
            <p>Nossas redes sociais :</p>
  
            <ul id="about-list">
  
              <li><i class="fas fa-check"></i>Carne Feita Na Hora</li>
  
              <li><i class="fas fa-check"></i>Batata Frita Crocante</li>
  
              <li><i class="fas fa-check"></i>Cheddar de verdade</li>
  
              <li><i class="fas fa-check"></i>Açai COMPLETO</li>
  
              <li><i class="fas fa-check"></i>Dedicação Total Ao Cliente</li>
  
            </ul>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  
  
    <!-- Time -->
  
    <div id="team-area">
  
      <div class="container">
  
        <div class="row">
  
          <div class="col-12">
  
            <h3 class="main-title">Nosso time ❤️</h3>
  
          </div>
  
          <div class="col-md-3">
  
            <div class="card">
  
              <img src="../../lib/img/funcionarios/bruno_cory.jpg" class="card-img-top" alt="Imagem de Perfil 1">
  
              <div class="card-body">
  
                <h5 class="card-title">Bruno CORY</h5>
  
                <p class="card-text">Dono Da Lanchonete Cory</p>
  
              </div>
  
            </div>
  
          </div>
  
  
  
          <!-- Adicionar novos funcionarios-->
  
          <div class="col-md-3">
  
            <div class="card">
  
              <img src="../../lib/img/funcionarios/bruno_nunes.png" class="card-img-top" alt="Imagem de Perfil 2">
  
              <div class="card-body">
  
                <h5 class="card-title">Bruno Nunes</h5>
  
                <p class="card-text">Entregador </p>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    </div>
  
    </div>
  
    </div>
  
  
  
    <!-- Div para background img game -->
  
    <div id="data-area">
  
  
  
    </div>
  
    </div>
  
    <div id="copy-area">
  
      <div class="container">
  
        <div class="row">
  
          <div class="col-md-12">
  
            <p>Desenvolvido por <b>Squad Flame Pixel Studio</b> &copy; 2020</p>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
</main>




  <!-- Scripts (jQuery não pode ser o slim que vem do Boostrap) -->

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"

    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"

    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"

    crossorigin="anonymous"></script>

  <!-- Scripts do projeto -->

  <script src="../../lib/js/scripts.js"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"

    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"

    crossorigin="anonymous"></script>

  <!-- Font Awesome -->

  <script src="https://kit.fontawesome.com/bf7e05c402.js" crossorigin="anonymous"></script>

  <!-- Parallax -->

  <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script>

</body>



</html>